
body {
    margin: 0;
    padding: 0;
    background-color: #FFFDF2;
    line-height: 1.6;
    cursor: none; /* Hides the default cursor */

}

.custom-cursor {
    position: fixed;
    width: 40px;
    height: 40px;
    background-image: url('images/pil-mus.png');
    background-size: cover;
    pointer-events: none;
    z-index: 1000;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Footer */ 
.navbar {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 10px 20px; 
    padding-left: 50px;
    background-color: transparent; 
    width: 100%; 
    position: relative; 
    margin-top: 20px; 
}

.navbar-left {
    display: flex; 
}

.navbar-menu {
    list-style: none; 
    display: flex; 
    margin: 0; 
    padding: 0; 
    position: relative; 
}

.navbar-item {
    margin-right: 100px; 
    position: relative; 
}

.navbar-item a {
    color: #31498F;
    text-decoration: none; 
    font-size: 36px; 
    font-family: 'Caveat';
    font-weight: 100; 
}

.nav-item::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 200px; 
    height: 220px; 
    background-image: url('/images/Frame 5.png'); 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform 0.3s ease;
    pointer-events: none; 
}

.nav-item:hover::before {
    transform: translate(-50%, -50%) scale(1); 
}

.navbar-item a:hover {
    text-decoration: none; 
    font-weight: 600;
}

.navbar-right {
    margin-left: auto; 
    display: flex; 
}

.navbar-logo {
    height: 50px; 
    width: auto; 
}



.OmBerta {
 font-family: 'Caveat';
 color: #31498F;
 font-size:70px

}

h2 {
    font-family:'Caveat';
    color: #31498F;
    text-align: left;
    font-size: 48px;
    letter-spacing: 0.1em;
}

p {
    font-family: 'Lato';
    letter-spacing: 0.05em;
    text-align: left;
    font-size: 18px;
}

.logo {
    text-align:left;
    padding: 2rem 0;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}

.billede-om-os {
    width: 600px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.image-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 20px 0;
}

.founder-images, .store-images {
    flex: 1;
}

.founder-images img, .store-images img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

figcaption {
    text-align: center;
    margin-top: 10px;
}

.bagerhund{
    width: 300px; /* or whatever size you prefer */
    height: auto; /* maintains aspect ratio */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.about{
    max-width: 1000px;
    margin-left: 60px; 
    padding-left: 0;
    text-align: left;
}

.history {
    max-width: 1000px;
    margin-left: 60px; 
    padding-left: 0;
    text-align: left;
}

.selvbetjening {
    max-width: 1000px;
    margin-left: 60px; 
    padding-left: 0;
    text-align: left;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

}

/* Footer */ 
footer {
    padding: 40px 20px;
    text-align: center;
    background-color: rgba(239, 243, 255, 0.4);
    margin-top: 140px;
    font-family: 'Caveat', cursive;
    font-size: 24px;
    font-weight: 300;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-section {
    text-align: left;
}

footer h3 {
    letter-spacing: 0.05em;
}

.contact-title {
    text-align: center; /* Centerer titlen */
}

.follow-title {
    text-align: center; /* Centerer titlen */
}

.contact-icon {
    width: 120px; /* Fast bredde for ikoner */
    height: auto; /* Bevarer proportionerne */
}

.email {
    margin-top: 10px; /* Margin for email */
    margin-bottom: 0; /* Ingen bundmargin */
}

.social-icons {
    display: flex;
    gap: 10px;
    margin: 20px;
}

.social-icons img {
    width: 70px;
    height: 70px;
    margin: 0 20px;
}

.contact-info {
    display: flex; /* Brug flexbox til at arrangere elementerne i en række */
    justify-content: center; /* Centrerer elementerne horisontalt */
}

.contact-item {
    display: flex; /* Brug flexbox */
    flex-direction: column; /* Arrangerer billedet over teksten */
    align-items: center; /* Centrerer elementerne horisontalt */
    justify-content: center; /* Centrerer elementerne vertikalt */
    margin: 0 20px; /* Tilføj lidt afstand mellem elementerne */
}


/* Pil op */
.scroll-to-top {
    position: fixed; 
    bottom: 20px; 
    right: 20px; 
    display: none; 
    z-index: 1; 
}

.scroll-to-top-image {
    width: 50px; 
    height: auto; 
    border: none; 
    cursor: pointer; 
}

.scroll-to-top:hover {
    opacity: 0.8; 
}


/* Fade ind effekt */

.fade {
    opacity: 0;
    transition: opacity 0.7s ease-in;
}

.fade.visible {
    opacity: 1;
}