:root {
    --primary-color: #31498F;
    --background-color: #FFFDF2;
    --text-color: #000000;
    --font-heading: 'Caveat', Helvetica;
    --font-body: 'Lato', Helvetica;
}

/* Base Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}


/* Navbar */

.navbar {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 10px 20px; 
    background-color: transparent; 
    width: 100%; 
    position: relative; 
    margin-top: 20px; 
}

.navbar-left {
    display: flex; 
}

.navbar-menu {
    list-style: none; 
    display: flex; 
    margin: 0; 
    padding: 0; 
    position: relative; 
}

.navbar-item {
    margin-right: 100px; 
    position: relative; 
}

.navbar-item a {
    color: var(--primary-color); 
    text-decoration: none; 
    font-size: 36px; 
    font-family: var(--font-heading); 
    font-weight: 100; 
}

.nav-item::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 200px; 
    height: 220px; 
    background-image: url('/images/Frame 5.png'); 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform 0.3s ease;
    pointer-events: none; 
}

.nav-item:hover::before {
    transform: translate(-50%, -50%) scale(1); 
}

.navbar-item a:hover {
    text-decoration: none; 
    font-weight: 600;
}

.navbar-right {
    margin-left: auto; 
    display: flex; 
}

.navbar-logo {
    height: 50px; 
    width: auto; 
}

/* Hero Section */
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 40px;
}

.hero-header {
    display: flex;
    align-items: center;
    gap: 20px;
}

.hero-title {
    font-family: var(--font-heading);
    font-weight: 400;
    font-size: 93px;
    letter-spacing: 18.60px;
    line-height: 139.5px;
    color: var(--primary-color);
    text-align: center;
    white-space: nowrap;
}

.hero-small-image {
    width: 150px;
    height: auto;
    order: -1; 
}
.hero-description {
    width: 650px;
    font-family: var(--font-body);
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.1em;
    line-height: 25px;
    color: var(--text-color);
    margin-top: 80px;
}

.image-duo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 250px;
    padding-top: 100px;
    gap: 80px;
}

.left-image {
    flex: 1;
  
}

.right-image {
    flex: 2;
}

.left-image img, .right-image img {
    width: 80%;
    height: auto;
}

.bread-section {
    width: 100%;
    padding-top: 40px;
    padding-left: 10%;
    text-align: left;
}

.bread-title {
    font-family: var(--font-heading);
    font-size: 48px;
    font-weight: 100;
    color: var(--primary-color);
    
    
}

.bread-description {
    font-family: var(--font-body);
    font-size: 14px;
    margin-top: 10px;
    color: var(--text-color);
    letter-spacing: 0.1em;
    line-height: 25px;
    max-width: 400px;
}

.prisbroed {
    font-family: var(--font-body);
    font-size: 16px;
    margin-top: 30px;
    font-weight: 500;
    color: var(--primary-color);
    letter-spacing: 0.1em;
    line-height: 25px;
}

.triple-image {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 60px 20px;
    width: 100%;
}

.image-container {
    flex: 1;
    max-width: 400px;
}

.image-container:last-child {
    margin-top: -185px;
}

.image-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.bread-section-right {
    width: 100%;
    padding-top: 2px;
    padding-right: 20%;
    text-align: right;
    margin-top: -120px;
}


.bread-section-right .bread-title {
    font-family: var(--font-heading);
    font-size: 48px;
    font-weight: 400;
    color: var(--primary-color);
}

.bread-section-right .bread-description {
    font-family: var(--font-body);
    font-size: 14px;
    margin-top: 10px;
    color: var(--text-color);
    letter-spacing: 0.1em;
    line-height: 25px;
    padding-left: 10%;
    max-width: 450px;
    margin-left: auto;
}



.uneven-images {
    display: flex;
    justify-content: center;
    gap: 100px;
    width: 100%;
    padding: 40px 20px;
}

.left-uneven {
    flex: none;
    margin-top: -40px;
    width: 35%;
    margin-right: 50px;
}

.right-uneven {
    flex: none;
    margin-top: 80px;
    width: 35%;
}

.left-uneven img, .right-uneven img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.bread-section-left {
    width: 100%;
    padding-top: 20px;  
    padding-left: 11%;  
    text-align: left;
    margin-top: -70px;  
}

.bread-section-left .bread-title {
    font-family: var(--font-heading);
    font-size: 48px;
    font-weight: 400;
    color: var(--primary-color);
    margin-left: 0;  
}

.bread-section-left .bread-description {
    font-family: var(--font-body);
    font-size: 14px;
    margin-top: 10px;
    color: var(--text-color);
    letter-spacing: 0.1em;
    line-height: 25px;
    max-width: 400px;
    margin-left: 10px;  
}

.prisbroed1 {
    font-family: var(--font-body);
    font-size: 16px;
    margin-top: 30px;
    font-weight: 500;
    color: var(--primary-color);
    letter-spacing: 0.1em;
    line-height: 25px;
    margin-left: 10px;
}



.line-image {
    width: 50%;
    text-align: center;  
    padding: 20px 0;    
    padding-top: 150px;
}


.new-section {
    display: flex;
    align-items: flex-start;  
    justify-content: flex-start;  
    margin-top: 200px;  
    max-width: 1024px;  
    width: 100%;  
}

.left-image-container {
    flex: 0;  
    text-align: left;  
    padding-right: 20px;  
    max-width: 300px;  
    margin-left: -20px;  
}


.middle-images {
    display: flex;
    justify-content: center;
    gap: 50px;  
    margin-left: 150px;  
}

.middle-image-left {
    height: 500px; 
    object-fit: cover;  
    max-width: 600px;  
}

.middle-image-right {
    height: 698px;  
    object-fit: cover;  
    max-width: 450px;  
}

.text-left {
    margin-left: -180px;  
}



/* Croissant */

.bread-title1 {
    font-family: var(--font-heading);
    font-size: 48px;
    font-weight: 100;
    color: var(--primary-color);
    margin-left: 100px;
    margin-top: -5px;
    
    
}

.bread-description2 {
    font-family: var(--font-body);
    font-size: 14px;
    margin-top: 10px;
    color: var(--text-color);
    letter-spacing: 0.1em;
    line-height: 25px;
    max-width: 600px;  
    margin-left: 105px;

}

.prisbroed2 {
    font-family: var(--font-body);
    font-size: 16px;
    margin-top: 30px;
    font-weight: 500;
    color: var(--primary-color);
    letter-spacing: 0.1em;  
    line-height: 25px;
    margin-left: 104px;
}

.small-image {
    width: 300px;  
    height: auto;  
    margin-left: 80px;
}



/* Crossiant pistache  */

.new-image-text-section {
    display: flex;
    align-items: flex-start;  
    padding: 40px 20px;  
    margin-top: 5%;  
    flex-wrap: wrap;  
}

.image-container {
    flex: 0 0 auto;  
    margin-right: 10px;  
}

.image-container img {
    width: 100%; 
    max-width: 500px; 
    height: auto;  
}

.text-container {
    flex: 1;  
    margin-left: 0;  
    min-width: 200px;  
}

.section-title {
    font-family: var(--font-heading);
    font-size: 48px;  
    color: var(--primary-color);
    font-weight: 400;
}

.section-description {
    font-family: var(--font-body);
    font-size: 14px;
    margin-top: 10px;
    color: var(--text-color);
    letter-spacing: 0.1em;
    line-height: 25px;
    margin-top: 10px;  
    max-width: 300px; 
    padding-left: 7px; 
}

.prisbroed3{
    font-family: var(--font-body);
    font-size: 16px;
    margin-top: 30px;
    font-weight: 500;
    color: var(--primary-color);
    letter-spacing: 0.1em;  
    line-height: 25px;
    margin-left: 7px;

}



/* orange cake */
.new-image-text-section .croissant-image {
    width: 150%;
}

.new-image-text-section {
    display: flex;
    align-items: flex-start; 
}

.croissant-image {
    width: 115%; 
    margin-right: 20px; 
}

.text-container {
    margin-left: 150px; 
}

.small-image1 {
    width: 250px; 
    height: auto; 
    margin-top: 100px; 
    margin-left: 100px;
}



.custom-section {
    display: flex; 
    align-items: flex-start; 
    padding: 40px 20px; 
    margin-top: 10%; 
}

.left-content {
    flex: 1; 
    text-align: left; 
    margin-left: -20px; 
}

.custom-title {
    font-family: var(--font-heading);
    font-size: 48px;  
    color: var(--primary-color);
    font-weight: 400;
    margin-bottom: 10px; 
    margin-top: -70px;

}

.custom-description {
    font-family: var(--font-body);
    font-size: 14px;
    margin-top: 10px;
    color: var(--text-color);
    letter-spacing: 0.1em;
    line-height: 25px;
    margin-top: 10px;  
    max-width: 300px;
    margin-bottom: 20px;
    padding-left: 5px;
}

.prisbroed4{

    font-family: var(--font-body);
    font-size: 16px;
    margin-top: 30px;
    font-weight: 500;
    color: var(--primary-color);
    letter-spacing: 0.1em;  
    line-height: 25px;
    margin-left: 7px;

}


.unique-left-image {
    width: 100%;
    max-width: 500px; 
    height: auto; 
}

.right-content {
    flex: 1; 
    display: flex; 
    justify-content: flex-end; 
    align-items: flex-start; 
}

.unique-right-image {
    width: 100%; 
    max-width: 500px; 
    height: auto; 
    margin-top: -50px; 
    margin-left: 70px; 

}

/* bagefad */
.small-image-section {
    margin-top: 10%; 
    text-align: center; 
    padding: 20px 0; 
}

.centered-small-image {
    width: 200px; 
    height: auto; 
}

/* kardemomme snurre */



