/* Forside css */
:root {
    --blå: #31498F; /* Definerer farvevariablen for blå */
    --bertahvid: #FFFDF2; /* Definerer farvevariablen for bertahvid */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bertahvid);
    font-family: 'Lato', sans-serif;
    line-height: 1.6;
}

/* Hero sektion */
.hero {
    width: 100%;
    height: 90vh;
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Logo */
.logo {
    position: absolute;
    top: 35px;
    left: 25px;
    width: auto;
    height: 60px;
}

/* Nav bar */
nav {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    font-family: 'Caveat', cursive;
    margin-top: 40px;
    height: 140px; /* Fast højde for navigationen, så det ikke påvirker andre elementer ved hover */
}

nav a {
    color: var(--blå);
    text-decoration: none;
    font-size: 34px;
    letter-spacing: 0.2em;
    font-weight: 400;
    transition: font-weight 0.2s, font-size 0.2s; /* Glidende overgang for font weight og font size */
}

nav a:hover {
    font-weight: 700; /* Ændrer font weight ved hover */
    font-size: 34.5px; /* Ændrer font size ved hover */
}

/* Tilføj margin til "Om os" og "Kontakt" */
nav a:nth-child(2), /* Om os */
nav a:nth-child(4) { /* Kontakt */
    margin-top: 40px; /* Juster værdien for at flytte dem længere ned */
}

/* Logo sektion */
.logo-section {
    text-align: center;
    padding: 60px 0;
    margin-top: 50px;
    margin-bottom: -50px;
}

.logo-section img {
    width: 300px;
    height: auto;
}

/* Content sections */
.content-section {
    text-align: center;
    padding: 20px 20px;
    max-width: 800px;
    margin: 0 auto;
    font-size: 20px;
    margin-bottom: 40px;
}

.content-section h2 {
    font-family: 'Caveat', cursive;
    color: var(--blå);
    margin-bottom: 20px;
    font-size: 44px;
    letter-spacing: 0.2em;
}

.icon-title {
    font-family: 'Caveat', cursive;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 0.05em;
}

.icons-container {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin: 30px 0;
}

.icon-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
    height: 120px;
}

.icon-item img {
    width: 120px;
    height: auto;
    margin-bottom: -20px;
}

/* Footer */
footer {
    padding: 40px 20px;
    text-align: center;
    background-color: rgba(239, 243, 255, 0.4);
    margin-top: 140px;
    font-family: 'Caveat', cursive;
    font-size: 24px;
    font-weight: 300;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-section {
    text-align: left;
}

footer h3 {
    letter-spacing: 0.05em;
}

.contact-title {
    text-align: center; /* Centerer titlen */
}

.follow-title {
    text-align: center; /* Centerer titlen */
}

.contact-icon {
    width: 120px; /* Fast bredde for ikoner */
    height: auto; /* Bevarer proportionerne */
}

.email {
    margin-top: 10px; /* Margin for email */
    margin-bottom: 0; /* Ingen bundmargin */
}

.social-icons {
    display: flex;
    gap: 10px;
    margin: 20px;
}

.social-icons img {
    width: 70px;
    height: 70px;
    margin: 0 20px;
}

.contact-info {
    display: flex; /* Brug flexbox til at arrangere elementerne i en række */
    justify-content: center; /* Centrerer elementerne horisontalt */
}

.contact-item {
    display: flex; /* Brug flexbox */
    flex-direction: column; /* Arrangerer billedet over teksten */
    align-items: center; /* Centrerer elementerne horisontalt */
    justify-content: center; /* Centrerer elementerne vertikalt */
    margin: 0 20px; /* Tilføj lidt afstand mellem elementerne */
}

/* Fade ind effekt */

.fade {
    opacity: 0;
    transition: opacity 0.7s ease-in;
}

.fade.visible {
    opacity: 1;
}


/* Det er til toppen knappen */ 

#topBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    cursor: pointer;
}
  
  
