/* Base styles */
:root {
    --blå: #31498F;
    --bertahvid: #FFFDF2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bertahvid);
}

.samlet { 
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 30px;
}

/* Typografi */
h1 {
    font-family: 'Caveat', cursive;
    font-size: 90px;
    color: var(--blå);
    font-weight: 400;
    text-align: center;
    margin-top: 100px;
    letter-spacing: 0.2em;
}

h2 {
    font-family: 'Caveat', cursive;
    font-size: 48px;
    color: var(--blå);
    letter-spacing: 0.2em;
    margin-bottom: 20px;
}

p {
    font-family: 'Lato', sans-serif;
    margin: 0;
    line-height: 2;
    font-size: 18px;
    letter-spacing: 0.05em;
}

/* Navbar */
.navbar {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 10px 20px; 
    padding-left: 50px;
    background-color: transparent; 
    width: 100%; 
    position: relative; 
    margin-top: 20px; 
}

.navbar-left {
    display: flex; 
}

.navbar-menu {
    list-style: none; 
    display: flex; 
    margin: 0; 
    padding: 0; 
    position: relative; 
}

.navbar-item {
    margin-right: 100px; 
    position: relative; 
}

.navbar-item a {
    color: var(--blå); 
    text-decoration: none; 
    font-size: 36px; 
    font-family: Caveat, cursive;
    font-weight: 100; 
}

.nav-item::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 200px; 
    height: 220px; 
    background-image: url('/images/Frame 5.png'); 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform 0.3s ease;
    pointer-events: none; 
}

.nav-item:hover::before {
    transform: translate(-50%, -50%) scale(1); 
}

.navbar-item a:hover {
    text-decoration: none; 
    font-weight: 600;
}

.navbar-right {
    margin-left: auto; 
    display: flex; 
}

.navbar-logo {
    height: 50px; 
    width: auto; 
}

/* Title Section */
.title-container {
    text-align: center;
    margin: 50px 0 100px;
}

.divider {
    width: 30%;
    max-width: 600px;
    margin-top: -10px;
    margin-bottom: 50px;
}

/* Sektionerne */
.value-section {
    display: flex;
    align-items: center;
    justify-content: center; /* Centrerer horisontalt */
    gap: 80px;
    margin: 30px 0;
    padding: 0 30px;
}

.value-section.reverse {
    flex-direction: row-reverse;
}

.text {
    flex: 1;
    max-width: 500px;
}

.text.bæredygtig {
    margin-top: -80px;
}

.text.økologi {
    margin-top: -300px; /* Juster værdien for at rykke sektionen højere op */
}

.text.tæt {
    margin-top: -80px;
}

.text.lokal 
 

/* Billeder */

.image {
    flex: 1;
}

.image img {
    max-width: 1000px;
    height: auto;
}

.værdi2 {
    margin-left: 220px;
    margin-top: -150px;
}

.mel {
    margin-left: 50px;
}

.æg {
    margin-top: -400px;
    margin-right: 50px;
}

.udstyr {
    margin-left: 300px;
    margin-top: -50px;
}


/* Dekorative blomster */
.blomster {
    text-align: center;
    margin: 100px 0;
}

.blomster img {
    max-width: 600px;
}

/* Footer */

footer {
    padding: 40px 20px;
    text-align: center;
    background-color: rgba(239, 243, 255, 0.4);
    margin-top: 140px;
    font-family: 'Caveat', cursive;
    font-size: 24px;
    font-weight: 300;
    width: 100%;
    letter-spacing: 0.1em;  
    line-height: 25px;
}

footer p {
    font-family: Caveat, cursive;
    font-size: 24px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    letter-spacing: 0.1em;  
    line-height: 1.6;
}

.footer-section {
    text-align: left;
}

footer h3 {
    letter-spacing: 0.05em;
}

.contact-title {
    text-align: center; 
}

.follow-title {
    text-align: center; 
}

.contact-icon {
    width: 120px; 
    height: auto; 
}

.email {
    margin-top: 10px; 
    margin-bottom: 0; 
}

.social-icons {
    display: flex;
    gap: 10px;
    margin: 20px;
}

.social-icons img {
    width: 70px;
    height: 70px;
    margin: 0 20px;
}

.contact-info {
    display: flex; 
    justify-content: center; 
}

.contact-item {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    margin: 0 20px; 
}

/* Fade effekt */
.fade {
    opacity: 0;
    transition: opacity 0.7s ease-in;
}

.fade.visible {
    opacity: 1;
}

/* Scroll til top pil */
.scroll-to-top {
    position: fixed;
    bottom: 60px;
    right: 20px;
    display: none;
    z-index: 1000;
}

.scroll-to-top-image {
    width: 50px;
    height: auto;
    cursor: pointer;
}

